<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navigation">  
      <div class="navigationButtons"> 
        <div class="home"><a href="http://localhost:3000/"><h1>HOME</h1></a></div>
        <div class="favorites"><a href="http://localhost:3000/searchFavorites"><h1>FAVORITES</h1></a></div>
      </div>  
         
    </nav>
  </header>
  
  <main>
    <h1><%= @name %>'S FAVORITES LIST</h1>
    <h1>PEOPLE</h1>

    <% if @people.length() > 0%>
      <% @people.each do |name| %>
        <div>
          <a href=<%= @peopleRoute[@people.find_index(name)] %>><%= name.upcase %></a>
        </div>
      <% end %>
    <% else %>
      <h3>NONE</h3>
    <% end %>

    <h1>PLANETS</h1>

    <% if @planets.length() > 0%>
      <% @planets.each do |name| %>
        <div>
          <a href=<%= @planetsRoute[@planets.find_index(name)] %>><%= name.upcase %></a>
        </div>
      <% end %>
    <% else %>
      <h3>NONE</h3>
    <% end %>

    <h1>STARSHIPS</h1>
    <% if @starships.length() > 0%>
      <% @starships.each do |name| %>
        <div>
          <a href=<%= @starshipsRoute[@starships.find_index(name)] %>><%= name.upcase %></a>
        </div>
      <% end %>
    <% else %>
      <h3>NONE</h3>
    <% end %>
  </main>
  
</body>

